:root {
    --black: #111122;  /* Softer black */
    --white: #f0e8dc;  /* Warm white */
    --primary: #ff7799;  /* Deep pink */
    --secondary: #5c3d6a;  /* Softer purple */
    --tertiary: #66e0b3;  /* Muted mint green */
    --quaternary: #0097a7;  /* Muted teal */
}
