.Alkali_Metals{
    background: var(--color_Alkali_Metals);
}
.Alkaline_Earth_Metals{
    background: var(--color_Alkaline_Earth_Metals);
}
.Transition_Metals{
    background-color:var(--color_Transition_Metals)
}
.Reactive_nonmetal{
    background: var(--color_Reactive_nonmetal);
}
.gas{
    color: var(--color_gas);
}
.solid{
    color: var(--color_Solid);
}
.series{
    background:var(--no_bg);
}