:root{
    --color_Alkali_Metals:#5f3f1b;
    --Very_Coffe:#5f3f1b;
    --color_Alkaline_Earth_Metals:#7a622f;
    --Hot_Curry:#7a622f;
    --color_Transition_Metals:#671a1d;
    --Festive_Bordeaux:#671a1d;
    --color_Solid:#b5b5b5;
    --Wolfram:#b5b5b5;
    --color_Reactive_nonmetal:green;
    --color_gas:red;
    --Bohemian_Blue:#0000a3;
    --color_unknown:#777777;
    --Lucky_Grey:#777777;
    --color_Synthetic_elements:#222222;
    --Lead:#222222;
}