:root{
    --color_Alkali_Metals:#5f3f1b;
    --Very_Coffe:#5f3f1b;
    --color_Alkaline_Earth_Metals:#7a622f;
    --Hot_Curry:#7a622f;
    --color_Transition_Metals:#671a1d;
    --Festive_Bordeaux:#671a1d;
    --color_Solid:#b5b5b5;
    --Wolfram:#b5b5b5;
    --color_Reactive_nonmetal:green;
    --color_gas:#b93e35;
    --Hot_Lips:#b93e35;
    --color_liquid:#9999f8;
    --Widowmaker:#9999f8;
    --Bohemian_Blue:#0000a3;
    --color_unknown:#777777;
    --Lucky_Grey:#777777;
    --color_Synthetic_elements:#222222;
    --Lead:#222222;
    --color_Post-Transition_Metals:#133563;
    --Neptunes_Dream:#133563;
    --color_Metalloids:#215046;
    --Tropical_Forest:#215046;
    --color_Noble_Gas:#36224e;
    --Stormy_Night:#36224e;
    --color_Lanthanides:#3d2d1a;
    --English_Walnut:#3d2d1a;
    --color_Actinides:#6b324b;
    --Flirt:#6b324b;
}