.legend{
    display: flex;
    max-width: 55%;
    margin: auto auto;
    height: auto;
    padding: auto;
    background: var(--e3ddd3);
    border-radius: 5px;
}
.properties{
    display: flex;
    width: auto;
    height: auto;
    color: var(--black);
    font-size: 32px;
    text-align: center;
    flex-wrap: wrap;
}
.properties .properties_group{
    display: flexbox;
    background: var(--ffffff);
    width: auto;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}
.properties_listing{
    font-size: 22px;
    color: var(--ffffff);
    text-align: center;
    height: auto;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    display: block;
}
/* On Focus events
.alkali_metal:hover ~ .alkali_metal {
    z-index: 5;
    scale: 1.1;
    transition: all 0.5s;
} */