#p_block{
    display: inline-block;
    padding: auto;
    height: 716px;
    width: 625px;
    position: absolute;
    margin-left: 1224px;
}
#p_ca{
    margin-top: 102px;
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.yes_left{
    border-left: 2px solid white;
}
#p_cb{
    margin-top: 102px;
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-left: 104px;
}
#p_cc{
    margin-top: 102px;
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-left: 206px;
}
#p_cd{
    margin-top: 102px;
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-left: 308px;
}
#p_ce{
    margin-top: 102px;
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-left: 410px;
}
#p_cf{
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-left: 512px;
}