#s_block{
    display: inline-block;
    padding: auto;
    height: 716px;
    width: 206px;
    position: absolute;
}
#s_ca{
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 100px;
    position: absolute;
}
#s_cb{
    margin-left: 104px;
    margin-top: 102px;
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
}