.main_container{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: var(--deedeb);
}
:root{
    animation: root-background 50s linear infinite;
    width: 100%;
    background-attachment: fixed;
    transition: all 2s;
}
@keyframes root-background {
    0% {
        background: linear-gradient(45deg, var(--secondary) 25%, var(--quaternary));
    }
    1%{
        background: linear-gradient(45deg, var(--secondary) 26%, var(--quaternary));
    
    }
    2%{
        background: linear-gradient(45deg, var(--secondary) 27%, var(--quaternary));
    }
    3%{
        background: linear-gradient(45deg, var(--secondary) 28%, var(--quaternary));
    }
    4%{
        background: linear-gradient(45deg, var(--secondary) 29%, var(--quaternary));
    }
    5%{
        background: linear-gradient(45deg, var(--secondary) 30%, var(--quaternary));
    }
    6%{
        background: linear-gradient(45deg, var(--secondary) 31%, var(--quaternary));
    }
    7%{
        background: linear-gradient(45deg, var(--secondary) 32%, var(--quaternary));
    }
    8%{
        background: linear-gradient(45deg, var(--secondary) 33%, var(--quaternary));
    }
    9%{
        background: linear-gradient(45deg, var(--secondary) 34%, var(--quaternary));
    }
    10%{
        background: linear-gradient(45deg, var(--secondary) 35%, var(--quaternary));
    }
    11%{
        background: linear-gradient(45deg, var(--secondary) 36%, var(--quaternary));
    }
    12%{
        background: linear-gradient(45deg, var(--secondary) 37%, var(--quaternary));
    }
    13%{
        background: linear-gradient(45deg, var(--secondary) 38%, var(--quaternary));
    }
    14%{
        background: linear-gradient(45deg, var(--secondary) 39%, var(--quaternary));
    }
    15%{
        background: linear-gradient(45deg, var(--secondary) 40%, var(--quaternary));
    }
    16%{
        background: linear-gradient(45deg, var(--secondary) 41%, var(--quaternary));
    }
    17%{
        background: linear-gradient(45deg, var(--secondary) 42%, var(--quaternary));
    }
    18%{
        background: linear-gradient(45deg, var(--secondary) 43%, var(--quaternary));
    }
    19%{
        background: linear-gradient(45deg, var(--secondary) 44%, var(--quaternary));
    }
    20%{
        background: linear-gradient(45deg, var(--secondary) 45%, var(--quaternary));
    }
    21%{
        background: linear-gradient(45deg, var(--secondary) 46%, var(--quaternary));
    }
    22%{
        background: linear-gradient(45deg, var(--secondary) 47%, var(--quaternary));
    }
    23%{
        background: linear-gradient(45deg, var(--secondary) 48%, var(--quaternary));
    }
    24%{
        background: linear-gradient(45deg, var(--secondary) 49%, var(--quaternary));
    }
    25%{
        background: linear-gradient(45deg, var(--secondary) 50%, var(--quaternary));
    }
    26%{
        background: linear-gradient(45deg, var(--secondary) 51%, var(--quaternary));
    }
    27%{
        background: linear-gradient(45deg, var(--secondary) 52%, var(--quaternary));
    }
    28%{
        background: linear-gradient(45deg, var(--secondary) 53%, var(--quaternary));
    }
    29%{
        background: linear-gradient(45deg, var(--secondary) 54%, var(--quaternary));
    }
    30%{
        background: linear-gradient(45deg, var(--secondary) 55%, var(--quaternary));
    }
    31%{
        background: linear-gradient(45deg, var(--secondary) 56%, var(--quaternary));
    }
    32%{
        background: linear-gradient(45deg, var(--secondary) 57%, var(--quaternary));
    }
    33%{
        background: linear-gradient(45deg, var(--secondary) 58%, var(--quaternary));
    }
    34%{
        background: linear-gradient(45deg, var(--secondary) 59%, var(--quaternary));
    }
    35%{
        background: linear-gradient(45deg, var(--secondary) 60%, var(--quaternary));
    }
    36%{
        background: linear-gradient(45deg, var(--secondary) 61%, var(--quaternary));
    }
    37%{
        background: linear-gradient(45deg, var(--secondary) 62%, var(--quaternary));
    }
    38%{
        background: linear-gradient(45deg, var(--secondary) 63%, var(--quaternary));
    }
    39%{
        background: linear-gradient(45deg, var(--secondary) 64%, var(--quaternary));
    }
    40%{
        background: linear-gradient(45deg, var(--secondary) 65%, var(--quaternary));
    }
    41%{
        background: linear-gradient(45deg, var(--secondary) 66%, var(--quaternary));
    }
    42%{
        background: linear-gradient(45deg, var(--secondary) 67%, var(--quaternary));
    }
    43%{
        background: linear-gradient(45deg, var(--secondary) 68%, var(--quaternary));
    }
    44%{
        background: linear-gradient(45deg, var(--secondary) 69%, var(--quaternary));
    }
    45%{
        background: linear-gradient(45deg, var(--secondary) 70%, var(--quaternary));
    }
    46%{
        background: linear-gradient(45deg, var(--secondary) 71%, var(--quaternary));
    }
    47%{
        background: linear-gradient(45deg, var(--secondary) 72%, var(--quaternary));
    }
    48%{
        background: linear-gradient(45deg, var(--secondary) 73%, var(--quaternary));
    }
    49%{
        background: linear-gradient(45deg, var(--secondary) 74%, var(--quaternary));
    }
    50%{
        background: linear-gradient(45deg, var(--secondary) 75%, var(--quaternary));
    }
    51%{
        background: linear-gradient(45deg, var(--secondary) 74%, var(--quaternary));
    }
    52%{
        background: linear-gradient(45deg, var(--secondary) 73%, var(--quaternary));
    }
    53%{
        background: linear-gradient(45deg, var(--secondary) 72%, var(--quaternary));
    }
    54%{
        background: linear-gradient(45deg, var(--secondary) 71%, var(--quaternary));
    }
    55%{
        background: linear-gradient(45deg, var(--secondary) 70%, var(--quaternary));
    }
    56%{
        background: linear-gradient(45deg, var(--secondary) 69%, var(--quaternary));
    }
    57%{
        background: linear-gradient(45deg, var(--secondary) 68%, var(--quaternary));
    }
    58%{
        background: linear-gradient(45deg, var(--secondary) 67%, var(--quaternary));
    }
    59%{
        background: linear-gradient(45deg, var(--secondary) 66%, var(--quaternary));
    }
    60%{
        background: linear-gradient(45deg, var(--secondary) 65%, var(--quaternary));
    }
    61%{
        background: linear-gradient(45deg, var(--secondary) 64%, var(--quaternary));
    }
    62%{
        background: linear-gradient(45deg, var(--secondary) 63%, var(--quaternary));
    }
    63%{
        background: linear-gradient(45deg, var(--secondary) 62%, var(--quaternary));
    }
    64%{
        background: linear-gradient(45deg, var(--secondary) 61%, var(--quaternary));
    }
    65%{
        background: linear-gradient(45deg, var(--secondary) 60%, var(--quaternary));
    }
    66%{
        background: linear-gradient(45deg, var(--secondary) 59%, var(--quaternary));
    }
    67%{
        background: linear-gradient(45deg, var(--secondary) 58%, var(--quaternary));
    }
    68%{
        background: linear-gradient(45deg, var(--secondary) 57%, var(--quaternary));
    }
    69%{
        background: linear-gradient(45deg, var(--secondary) 56%, var(--quaternary));
    }
    70%{
        background: linear-gradient(45deg, var(--secondary) 55%, var(--quaternary));
    }
    71%{
        background: linear-gradient(45deg, var(--secondary) 54%, var(--quaternary));
    }
    72%{
        background: linear-gradient(45deg, var(--secondary) 53%, var(--quaternary));
    }
    73%{
        background: linear-gradient(45deg, var(--secondary) 52%, var(--quaternary));
    }
    74%{
        background: linear-gradient(45deg, var(--secondary) 51%, var(--quaternary));
    }
    75%{
        background: linear-gradient(45deg, var(--secondary) 50%, var(--quaternary));
    }
    76%{
        background: linear-gradient(45deg, var(--secondary) 49%, var(--quaternary));
    }
    77%{
        background: linear-gradient(45deg, var(--secondary) 48%, var(--quaternary));
    }
    78%{
        background: linear-gradient(45deg, var(--secondary) 47%, var(--quaternary));
    }
    79%{
        background: linear-gradient(45deg, var(--secondary) 46%, var(--quaternary));
    }
    80%{
        background: linear-gradient(45deg, var(--secondary) 45%, var(--quaternary));
    }
    81%{
        background: linear-gradient(45deg, var(--secondary) 44%, var(--quaternary));
    }
    82%{
        background: linear-gradient(45deg, var(--secondary) 43%, var(--quaternary));
    }
    83%{
        background: linear-gradient(45deg, var(--secondary) 42%, var(--quaternary));
    }
    84%{
        background: linear-gradient(45deg, var(--secondary) 41%, var(--quaternary));
    }
    85%{
        background: linear-gradient(45deg, var(--secondary) 40%, var(--quaternary));
    }
    86%{
        background: linear-gradient(45deg, var(--secondary) 39%, var(--quaternary));
    }
    87%{
        background: linear-gradient(45deg, var(--secondary) 38%, var(--quaternary));
    }
    88%{
        background: linear-gradient(45deg, var(--secondary) 37%, var(--quaternary));
    }
    89%{
        background: linear-gradient(45deg, var(--secondary) 36%, var(--quaternary));
    }
    90%{
        background: linear-gradient(45deg, var(--secondary) 35%, var(--quaternary));
    }
    91%{
        background: linear-gradient(45deg, var(--secondary) 34%, var(--quaternary));
    }
    92%{
        background: linear-gradient(45deg, var(--secondary) 33%, var(--quaternary));
    }
    93%{
        background: linear-gradient(45deg, var(--secondary) 32%, var(--quaternary));
    }
    94%{
        background: linear-gradient(45deg, var(--secondary) 31%, var(--quaternary));
    }
    95%{
        background: linear-gradient(45deg, var(--secondary) 30%, var(--quaternary));
    }
    96%{
        background: linear-gradient(45deg, var(--secondary) 29%, var(--quaternary));
    }
    97%{
        background: linear-gradient(45deg, var(--secondary) 28%, var(--quaternary));
    }
    98%{
        background: linear-gradient(45deg, var(--secondary) 27%, var(--quaternary));
    }
    99%{
        background: linear-gradient(45deg, var(--secondary) 26%, var(--quaternary));
    }
    100%{
        background: linear-gradient(45deg, var(--secondary) 25%, var(--quaternary));
    }
}