/* Grid styling starts */
.periodic_table{
    display: grid;
    grid-template-columns: repeat(18,auto);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    "first_layer" "first_layer"
    "second_layer" "second_layer";
    gap: 0px;
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}
/* Grid styling ends */
.table{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}
.element_container{
    display: flexbox;
    height: 100px;
    flex: 1 1 27px;
    max-width: 72.3px;
    font-size: clamp(10px, 2vw + 1rem, 14px);
    border-radius: 5px;
    margin: 1px 1px 1px 1px;
}
.element_container .atomic_no{
    width: 100%;
    text-align: left;
    font-size: 11px;
}
.element_container .symbol{
    font-size:clamp(22px, 2vw + 1rem, 32px);
    font-weight: bold;
    text-align: center;
}
.element_container .name{
    text-align: center;
    font-size: clamp(10px, 2vw + 1rem, 14px);
    width: 72px;
    overflow-wrap: break-word;
}
.element_container .mass{
    font-size: clamp(10px, 2vw + 1rem, 14px);
    text-align: center;
}
/* Layers */
.first_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.second_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.third_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.group{
    display: flex;
}
.fourth_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.fifth_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.sixth_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.seventh_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.radioactive_elements{
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    border-radius: 5px;
    margin-top: 50px;
}
.lanthanoids_group , .actinoids_group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: transparent;
}
/* On Hover Effects  */
.element_container:hover{
    z-index: 5;
    scale: 1.1;
    transition: all 0.5s;
    cursor: pointer;
}
/* VVS Description */
#iframe_container{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: var(--frosted_white); /* Semi-transparent backdrop */
    backdrop-filter: blur(5px);
}
#very_short_description{
    display: none;
    left: 50%;
    top: 50%;
    background: var(--frosted_primary);
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;;
    height: 400px;
    border: none;
    border-radius: 5px;
    position: fixed;
    animation: 10s linear;
    animation-iteration-count: 1;
}