.table{
    display: block;
    flex-direction: column;
}
.element_container{
    display: flexbox;
    height: 100px;
    width: 72.3px;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}
.element_container .atomic_no{
    width: 100%;
    text-align: left;
    font-size: 14px;
}
.element_container .symbol{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.element_container .name{
    text-align: center;
    font-size: 14px;
    text-align: center;
    width: 72px;
    overflow-wrap: break-word;
}
.element_container .mass{
    font-size: 14px;
    text-align: center;
}
/* Layers */
.first_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.second_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.group{
    display: flex;
}
.fourth_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fifth_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sixth_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seventh_layer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.radioactive_elements{
    background: var(--ffffff);
    display: block;
    width: fit-content;
    margin: auto auto;
    border-radius: 5px;
    margin-top: 50px;
}
.lanthanoids_group , .actinoids_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;
}