.window{
    position: fixed;
    width: 80%;
    max-width: 80%;
    height: 70%;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%;
    background: var(--frosted_white);
    z-index: 500;
    border-radius: 5px;
    flex-direction: column;
}
.title_bar{
    display: flex;
    width: 100%;
    height: fit-content;
    border-bottom: solid 2px var(--frosted_white);
    border-radius: inherit;
    text-decoration: none;
}
.window p a{
    text-decoration: underline;
    color: blue;
}
.close_button{
    background: red;
    border-radius: inherit;
    text-align: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-right: 0%;
    margin-left: auto;
}
.title_bar a:link{
    color: var(--white);
}
.window .main_content{
    display: flex;
    overflow: auto;
    flex-direction: column;
}
.window_box{
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    border: solid 2px var(--white);
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--secondary);
}
.window_box_container{
    background: var(--frosted_white);
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    margin-bottom: 15px;
}
.window_box_container a:visited{
    color: var(--secondary);
}
.window h3{
    margin-left: 5%;
}
.window_box:hover{
    background: var(--frosted_primary);
    transition: all 0.3s ease-in-out;
}
.window_box .left{
    margin-left: 0%;
    margin-right: auto;
    display: flex;
}
.window_box .right{
    display: flex;
}
/* Windows */
/* About */
#About{
    display: none;
    transition: all 0.3s ease;
    color: var(--white);
}
#About .favicon{
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 100vh;
}
#About h1{
    text-align: center;
}
#About:target{
    display: flex;
    transition: all 0.3s ease;
}