.Alkali_Metals{
    color: var(--color_Alkali_Metals);
}
.Alkaline_Earth_Metals{
    color: var(--color_Alkaline_Earth_Metals);
}
.Transition_Metals{
    color:var(--color_Transition_Metals)
}
.nonmetal{
    color: var(--color_Reactive_nonmetal);
}
.Synthetic_Elements{
    color: var(--color_Synthetic_elements);
}
.Post-Transition_Metals{
    color: var(--color_Post-Transition_Metals);
}
.Metalloids{
    color: var(--color_Metalloids);
}
.gas{
    color: var(--color_gas);
}
.solid{
    color: var(--color_Solid);
}
.liquid{
    color: var(--color_liquid);
}
.series{
    background:var(--no_bg);
}
.unknown{
    color: var(--color_unknown);
}
.Noble_Gas{
    background: var(--color_Noble_Gas);
    color: var(--color_gas);
}
.Lanthanides{
    background:var(--color_Lanthanides);
}
.Actinides{
    background: var(--color_Actinides);
}